<!DOCTYPE html>
<html>
    <head>
        <title>My first Blog</title>
    </head>
    <body>
        <header>
            <h1a href="/">My First Blog</h1>
        </header>
        <h2>Hi there!</h2>
        <h1>I can´t believe it worked!!</h1>
        <p>Now I need information to add here!</p>
        <h3>What could this blos be about?</h3>
        <strong>Here are some ideas:</strong>
        <ul>
            <li>Food that I like</li>
            <li>Politics</li>
            <li>Little Stories</li>
        </ul>
        <article>
            <time>published: 21.04.2024, 16:16</time>
            <h2><a href="">Let´s do this!</a></h2>
            <p>what can we write here??</p>
        </article>
        
        <article>
            <time>published: 21.04.2024, 16:19</time>
            <h2><a href="">Let´s post again!</a></h2>
            <p>what can we write here as well??</p>
        </article>        
    </body>
</html>